@import 'rupture'
@import "variable/_function.styl"
@import "variable/_ie.styl"
@import "icon/sprite.css"
@import "variable/_helper.styl"
@import "variable/_default.styl"
@import "variable/_elements.styl"
@import "variable/_constant.styl"
@import "variable/_grid.styl"

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg'

// Grid breakpoints
$breakpoints = {
	'xs' :  0,
	'sm' : 480px,
	'md' : 768px,
	'lg' : 992px,
	'xl' : 1200px
}

// Number of columns
$columns = 12

init($breakpoints, $columns)

body
	@extend .type--main
	font-family $v-font
	color $main-text-color
	line-height 1.2
	letter-spacing 0.01em

.main-cont
	center(740px,10px)

.head
	position: relative

.header-logo
	position: fixed

.main-slider__el
	width: 100%
	height: 100vh
	bg-full()

.header-arrow
	+below(768px)
		bottom: 15%
	position: absolute
	bottom 10%
	left: 0
	width: 100%
	z-index 20
	flex(mid)
	.icon
		fill white
		size 24px
		z-index 10

.slider-logo
	+below(768px)
		padding: 10%
	padding: 8%
	bg-full()
	margin-bottom: 2%


.main-slider__el--one
	flex(mid)
	fl()
	fw()

.slide-one__text
	+below(768px)
		font-size: 24px
	text-align: center
	color white
	up()
	font-size: 40px

.slide-one__cont
	+below(768px)
		margin-top: -20%
	flex(mid)
	fl()
	width: 100%

.choose
	gradient(#efa306, #da0300, $strength = 30%)
	.main-cont
		center(880px,0px)
.choose--text
	.choose__el
		+below(768px)
			margin-bottom: 40px
		width: 100%
		&:hover
			cursor initial
			transform scale(1)
	.choose__el-text
		display: block !important
		+below(768px)
			width: 100%

	.choose-wrap
		+below(768px)
			fw()

.choose-wrap
	flex(between)
	align-items: flex-start
	padding: 60px 0

.choose__el
	+below(768px)
		width: 45%
	width: 40%
	flex(mid)
	fl()
	fw()
	cp()
	tr(all)
	.icon
		+below(768px)
			size 80px
			margin-bottom: 15px
		fill white
		opacity .6
		margin-bottom: 30px
		size 170px
	&:hover
		transform scale(1.1)
.choose__el-title
	+below(768px)
		font-size: 20px
	up()
	color white
	text-align: center
	font-size: 34px

.choose__el-text
	+below(768px)
		width: 80%
		display: none
	color white
	text-align: center
	width: 78%
	font-size: 20px

.white-divider
	width: 100%
	background: white

.menu
	background-image: url('../img/bg-nood-sprite.jpg')
	//background-image: url('../img/grey-background.jpg')

.fantastic
	+below(768px)
		height: 280px
	flex(mid)
	up()
	bg-full()
	fl()
	height: 380px
	color white
	background-image: url('../img/fantastyc.jpg')
	.slide-three__text
		margin-bottom: 20px
	.fantastic-text
		+below(768px)
			font-size: 28px
		font-size: 68px
.advant
	+below(768px)
		padding: 60px 0
	background-image: url('../img/bg-nood-sprite.jpg')
	padding: 100px 0
	position: relative
//.advant-wrap

.advant-wave
	background-image: url('../img/vawe.png')
	width: 100%
	height: 90%
	position: absolute
	bg-full()
	top 0
	left: 0
	opacity .1
.advant__el
	+below(768px)
		fw()
		margin-bottom: 35px
		flex(mid)
		fl()
	flex(between)
	align-items: flex-end
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0

.advant__info
	+below(768px)
		width: 100%
		flex(mid)
	f()
	align-items: center
	width: 45%
.advant__icon
	+below(768px)
		margin-right: 10px
	margin-right: 30px
	.icon
		+below(768px)
			size 50px
		size 90px

.advant-wrap-title
	text-align: center
	color white
	font-size: 28px

.advant__title-text
	+below(768px)
		font-size: 48px
	up()
	color white
	font-size: 78px
	line-height: 0.7

.advant__title-head
	color white
	font-size: 24px
	margin-bottom: 20px

.advant__title-descr
	color white

.advant__text
	+below(768px)
		font-size: 14px
		width: 80%
		text-align: center
	width: 45%
	color white
	margin-top: 10px
	font-size: 22px

.baner
	+below(768px)
		height: 400px
	//background-image: url('../img/run-man.jpg')
	bg-full()
	height: 870px
	background-position: top center
	flex(mid)
	fl()
	position: relative

.baner--people
	background-image: url('../img/bg-people-hand.jpg')
	background-position: top left
	.baner-text
		color white

.baner--filter
	position: absolute
	top 0
	left 0
	background: rgba(255, 130, 54, 0.59)
	width: 100%
	height: 100%

.baner-text
	+below(768px)
		margin-left: 0
		text-align: center
		font-size: 44px
	color #d10b03
	up()
	font-size: 64px
	margin-left: 20%
	margin-top: 15%
	z-index 2
.baner-title
	+below(768px)
		margin-left: 0
		text-align: center
		font-size: 44px
	color white
	font-size: 164px
	margin-left: 35%
	z-index 2

.baner-text--red
	color #d10b03!important

.contact
	+below(768px)
		padding: 60px 0
	padding: 100px 0
	background: #f1a607
//.main-cont

.contact-wrap
	+below(768px)
		fw()
	flex(between)

.contact__el
	+below(768px)
		width: 100%
		margin-bottom: 20px
	text-align: center
	color white
	width: 30%
	a
		color white

.contact__title
	font-size: 24px
	margin-bottom: 20px

.contact__text
	+below(768px)
		font-size:14px
	margin-bottom: 20px
//.contact__phone
.social
	padding: 25px 0
	flex(mid)

.social__el
	flex(mid)
	round()
	tr(all)
	size 45px
	background: #f1a607
	margin-right: 20px
	&:hover
		background: #ca8c0a

	&:last-child
		margin-right:0
	.icon
		fill white
		size 20px
.footer
	text-align: center
	padding-bottom: 25px
//.footer-text

//owl-carousel
.owl-dots
	+below(768px)
		bottom: 30%
		display: none
	width 100%
	flex(mid)
	position absolute
	z-index 2000
	bottom: 20%
.owl-dot
	round()
	margin 5px
	width 10px
	height 10px
	background white
	opacity 0.7
.owl-dot.active
	background #f59f15
//owl-carousel-end


.main-slider__el--three
	flex(mid)
	fl()
	fw()

.slide-three__cont
	flex(mid)
	fl()
	fw()

.slide-three__title
	+below(768px)
		font-size: 24px
	text-align: center
	color white
	font-size: 68px
	margin-bottom: 20px
	margin: 10px
.slide-three__text
	+below(768px)
		font-size: 16px
		width: 80%
	text-align: center
	color white
	font-size: 22px
	width: 550px

.main-slider__el--two
	+below(768px)
		/*.slider-item-logo
			position: absolute
			top 10%*/
	flex(mid)
	fl()
	fw()

.slide-adv
	+below(768px)
		fw()
		flex(mid)
		fl()
	flex(around)

.slide-adv__el
	+below(768px)
		width: 100%
		margin-right: 0
		margin-bottom: 15px
	f()
	color white
	margin-right: 40px
	&:last-child
		margin-right: 0

.slide-adv__icon
	align-self flex-end
	.icon
		+below(768px)
			size 40px
		size 70px
	margin-right: 20px

.slide-adv__title
	+below(768px)
		font-size: 16px
		margin-bottom: 5px
	up()
	font-size: 24px
	margin-bottom: 20px

.slide-adv__text
	+below(768px)
		font-size: 24px
		line-height: 20px
	up()
	font-size: 84px
	line-height: 60px

.menu-fast
	+below(768px)
		padding: 60px 0
	padding: 100px 0

.menu__title
	+below(768px)
		flex(mid)
	f()
	align-items: flex-end

.menu__title-main
	+below(768px)
		font-size: 24px
		line-height: 26px
	color white
	font-size: 60px
	up()
	margin-right: 20px
	line-height: 50px

.menu__title-sub
	+below(768px)
		font-size: 12px
	color #f59f15
	font-size: 24px

.menu-fast-size
	+below(768px)
		margin-top: 20px
	f()
	justify-content: flex-end
	margin-bottom: 20px

.menu-fast-size__el
	+below(768px)
		font-size: 14px
		width: 50px
	up()
	color white
	width: 80px
	text-align: center
	font-size: 24px

.own-text
	+below(768px)
		text-align: center
	color white
	font-size: 24px
	up()
	margin: 30px 0

//.menu-fast-table
.menu-fast__el
	f()
	justify-content: space-between
	margin-bottom: 20px

.menu-fast__info
	width: 60%

.menu-fast__title
	+below(768px)
		font-size: 16px
	up()
	color #f59f15
	font-size: 24px
	margin-bottom: 10px

.menu-fast__text
	color white
	font-size: 12px

.menu-fast__cost
	color #f59f15
	font-size: 24px
	f()

.menu-fast__cost-half
	+below(768px)
		width: 50px
	width: 80px
	text-align: center

.menu-fast__cost-reg
	+below(768px)
		width: 50px
	width: 80px
	text-align: center

.price
	f()
	justify-content: center
	text-align: center
	font-size: 24px
.price__main
	line-height: 1
.price__cent
	font-size: 14px

.own
	+below(640px)
		flex(mid)
		fl()
		fw()
	flex(around)

.own__el
	+below(640px)
		width: 250px
		justify-content: flex-start
		margin-bottom: 20px
	flex(mid)

.menu-own
	+below(768px)
		padding: 60px 0
	padding: 100px 0
.own__price
	flex(mid)
	round()
	gradient(#efa306, #da0300, $strength = 30%)
	size: 100px
	margin-right: 20px
	.price__main
		font-size: 64px
		line-height: 1
	.price__cent
		font-size: 24px
//.own__info

.own__title
	up()
	font-size: 24px
	color #f59f15

.own__text
	color #f59f15

.own-ingr
	+below(768px)
		fw()
		flex(mid)
		fl()
	f()
	justify-content: space-between
	margin-bottom: 20px

.own-ingr__col
	+below(768px)
		width: 80%
		margin-bottom: 20px
		flex(mid)
		fl()
	width: 25%

.own-ingr__col--info
	flex(between)
	fl()
	align-items:initial

.own-ingr__wrap
	width: 100%

.own-ingr__title
	+below(768px)
		flex(mid)
	f()
	align-items: center
	margin-bottom: 30px

.own-ingr__title-numb
	size: 35px
	round()
	flex(mid)
	background: #e04319
	color white
	line-height: 1
	font-size: 24px
	margin-right: 10px

.own-ingr__title-text
	color #f59f15
	up()
	font-size: 28px
	line-height: 1

.own-ingr__el
	+below(768px)
		text-align: center
		flex(mid)
	f()
	color white
	padding-left: 10%
	margin-bottom: 15px
	font-size: 14px
	span
		display: inline-block
		margin-right: 5px
	.icon
		margin-right: 3px
		size 15px

//.condition
.condition__el
	background: #65646a
	padding: 10px
	f()
	align-items: center

.condition__el--mark
	+below(768px)
		fw()
		flex(mid)
	flex(between)
	gradient(#efa306, #e04e00, $strength = 30%)
	color #51555b
	.condition__el-icon
		.icon
			fill #51555b

.condition__part
	+below(768px)
		width: 100%
		flex(mid)
		margin-bottom: 5px
	f()
	align-items: center
	width: 30%
	line-height: 1

.condition__part--protein
	+below(768px)
		padding-left: 25px
.condition__el-icon
	margin-right: 15px
	display: inline-block
	margin-top: 2px
	.icon
		size 20px
		fill #efa306
.condition__text
	line-height:1
	margin-right: 10px

.condition__text--orange
	+below(768px)
		font-size: 10px
		text-align: center
	color #efa306
	line-height: 1

//.condition__part-info
.condition__price
	f()
	align-items: center
	.icon
		margin-right: 5px
		size 20px
	.price
		margin-right: 10px
		.price__main
			font-size: 16px
			line-height: 1
		.price__cent
			font-size: 10px
			line-height: 1

.menu-drinks
	+below(768px)
		padding: 60px 0
	padding: 100px 0

.menu-drinks-price
	+below(768px)
		fw()
		margin-top: 20px
	flex(between)
	fw()
	margin-top: 40px

.menu-drinks__el
	+below(768px)
		width: 100%
	flex(between)
	width: 45%
	margin-bottom: 10px

.menu-drinks__name
	color white

.menu-drinks__cost
	color #efa306

.own-ingr-info
	+below(768px)
		width: 100%
		text-align: center
	color #efa306
	padding-left: 10%

.slider-item-logo
	+below(768px)
		size 40px
	size 120px

.main-cont--logo
	+below(768px)
		top: 25px
	padding-left: 25px
	position: absolute
	top 12%

.fantastic-get
	@extend .btn
	font-size: 16px
	color black
	background: #e04e00 linear-gradient(180deg, #efa306, #e04e00) repeat-x
	padding: 20px 40px
	line-height: 14px
	&:hover
		background: darken(#ffc44b,15)

.main-baner
	.main-slider__el
		+below(768px)
			height: 400px
		height: 600px

.head-menu
	+below(768px)
		padding: 15px
	position: fixed
	width: 100%
	left: 0
	top 0
	padding: 0px 30px
	z-index 200
	background: #04040491
.head-menu__container
	flex(between)

.head-menu__logo
	+below(768px)
		width: 40px
		margin-right: 0
	width: 60px
	margin-right: 5%
	display: inline-block

.head-menu__wrap
	+above(769px)
		display: flex!important
	+below(768px)
		position: absolute
		width: 100%
		top 100%
		left: 0
		background: #3f4046
		display: none
	margin-right:auto
	width: 50%

.head-menu__el
	+below(768px)
		width: 100%
		display: block
		text-align: center
		padding: 20px 0
	up()
	color white
	position: relative
	width: 100%
	&:hover
		background: orange
		.head-menu__dpop
			display: block
.head-menu__tool
	f()
	align-items: center

.head-menu__enter
	+below(768px)
		font-size: 12px
	up()
	color white
	margin-right: 20px

.head-menu__sing
	+below(768px)
		font-size: 12px
		padding: 5px 10px
	color white
	padding: 10px 20px
	background: red
	border-radius: 5px
	up()
	a
		color white
	span
		margin-top: 2px
		display: inline-block
.get-order
	+below(768px)
		top: 10%
	up()
	position: fixed
	right: 0
	top 20%
	padding: 10px 35px
	z-index 200
	background: #e77902
	color white
	display: inline-block
	border-radius 5px 0 0 5px
	box-shadow 0px 1px 1px #292929;
	a
		color white
		margin-top: 3px
		display: inline-block

//Добавялем стили для этого элемента
@-webkit-keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

//Анимация из animateCSs
@keyframes slideInDown {
	from {
		transform: translate3d(0, -100%, 0);
		visibility: visible;
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

.shrink
	position fixed
	top 0
	left 0
	background #50535b
	width 100%
	animation:  slideInDown  1s 1 ease-in-out
	box-shadow 0px 1px 1px #292929

.head-menu__toggle
	+above(769px)
		display: none
	.icon
		size 25px
		fill white

.head-menu__dpop
	position: absolute
	display: none
	text-align: center
	background: orange
	width: 100%
	border-radius 0 0 5px 5px

.head-menu__dpop-el
	padding: 10px
	display: inline-block
	width: 100%
	border-bottom 1px solid #1919191a
	text-transform: none
	tr(all)
	&:hover
		background: darken(orange,10)
.head-menu__el-link
	text-align: center
	cp()
	padding: 15px
	position: relative
	&:hover
		.head-menu__dpop
			display: block

.head-menu__el-text-sub
	font-size: 12px
	text-align: center
.slide-one__text-sub
	color white
	font-size 20px
	text-align: center
	margin-top: 10px
.choose__el-title-sub
	color white
	margin-bottom: 20px
	up()
	font-size: 32px

.show-menu
	flex(mid)
	padding: 20px 0
	cp()
.show-menu-text
	color #f59f15
	font-family "Akko Rounded Pro"
	font-size 24px
	margin-right: 10px
.show-menu-icon
	.icon
		size 20px
		fill #f59f15

.slogan
	flex(mid)
	fl()
.slogan__el
	margin-bottom: 30px
	font-size: 48px
.slogan__el-head
	color #f59f15
.slogan__el-cont
	f()
	color #f59f15
	padding-left: 40px
	align-items: center
	margin-top: -20px
//span
.slogan__el-title
	font-size: 68px
	color white
	margin-left: 20px

.bread
	+below(768px)
		margin-bottom: 20px
	f()
	margin-bottom: 0px

.bread__el
	margin-right: 40px
	position: relative
	color white
	&:last-child
		&:before
			display: none
	&:before
		content '/'
		position: absolute
		color red
		top 0
		right -25px

@import "../module/**/*"
