include block_html/_style.pug
include block_html/_include.pug


+header()

.head
	.header-logo
	.main-slider.owl-carousel
		.main-slider__el.main-slider__el--one(style="background-image:url('img/slide-1.jpg')")
			.slide-one__cont
				.slider-logo(style="background-image:url('img/logo.svg')")
				h1
					.slide-one__text The house of fire
					.slide-one__text-sub GOOD FOOD, HOT RECIPES


		.main-slider__el.main-slider__el--two(style="background-image:url('img/slide-2.jpg')")
			.main-cont.main-cont--logo
			.slide-adv
				.slide-adv__el
					.slide-adv__icon
						+icon("play","icon")
					.slide-adv__cont
						.slide-adv__title naturally
						.slide-adv__text fast
				.slide-adv__el
					.slide-adv__icon
						+icon("fresh","icon")
					.slide-adv__cont
						.slide-adv__title undeniably
						.slide-adv__text fresh
				.slide-adv__el
					.slide-adv__icon
						+icon("fiery","icon")
					.slide-adv__cont
						.slide-adv__title temptingly
						.slide-adv__text fiery

		.main-slider__el.main-slider__el--three(style="background-image:url('img/slide-3.jpg')")
			.main-cont.main-cont--logo
			.slide-three__cont
				.slide-three__title CHICKEN CHOW MEIN
				.slide-three__text One of the famous noodle dish around the globe. A vibrant, fresh and delicious classic. Box a true taste of Asia to your day with this naturally fast and healthy dish.

	.header-arrow
		a(href="#choose" rel="m_PageScroll2id" )
			+icon("twice-arrow","icon")

.choose#choose
	.main-cont
		.choose-wrap
			a(href="#fast" rel="m_PageScroll2id").choose__el.choose__el--fast
				.choose__el-icon
					+icon("fast-create","icon")
				.choose__el-title CHEF'S SPECIALS
				.choose__el-title-sub menu
				.choose__el-text Fixed recipes noodle box's to select and go
			a(href="#own" rel="m_PageScroll2id").choose__el.choose__el--create
				.choose__el-icon
					+icon("create","icon")
				.choose__el-title CREATE YOUR OWN
				.choose__el-title-sub menu
				.choose__el-text Pick all your ingredients to have it the way you want it

.white-divider
		.show-menu
			.show-menu-text Click to View Full Menu
			.show-menu-icon
				+icon("arrow-down-fat","icon")

.advant
	.advant-wave
	.main-cont
		.advant-wrap
			.advant__el
				.advant__info
					.advant__icon
						+icon("play","icon")
					.advant__title
						.advant__title-head NATURALLY
						.advant__title-text FAST


				.advant__text Ready in a flash, from order to eating in around 3 minutes.
			.advant__el
				.advant__info
					.advant__icon
						+icon("fresh","icon")
					.advant__title
						.advant__title-head UNDENIABLY
						.advant__title-text FRESH
				.advant__text Engage all 5 senses, cooked right in front of you.

			.advant__el
				.advant__info
					.advant__icon
						+icon("fiery","icon")
					.advant__title
						.advant__title-head TEMTINGLY
						.advant__title-text FIERY
				.advant__text Fried on the flame at over 200<sup>o</sup>, extra hot and extra nutritions.
			h2.advant-wrap-title Noo Noodles  RESTAURANT

.fantastic
	h2.fantastic-text GOOD STIR FRIED FOOD
	//.slide-three__text Noodles inspired by the street markets of Asia. Made with only the very best of ingredients.
	//.slide-three__text Each dish has been freshly prepared over an open flame and is packed with oodles of energy.
	a(href="item.html").fantastic-get Learn more

+two-text()

.advant
	.advant-wave
	.main-cont
		.advant-wrap
			.slogan
				.slogan-wrap
					.slogan__el
						.slogan__el-head Inspired by street
						.slogan__el-cont
							span markets of
							.slogan__el-title ASIA
					.slogan__el
						.slogan__el-head Cooked on
						.slogan__el-cont
							span the open
							.slogan__el-title FLAME
					.slogan__el
						.slogan__el-head Packed with
						.slogan__el-cont
							span noodles of
							.slogan__el-title ENERGY



.baner(style="background-image:url('img/run-man.jpg')")
	.baner-text Fire in Your
	.baner-title SOUL

+footer()

include ./block_html/_script.pug
