include ../../module/header/_header.pug
include ../../module/footer/_footer.pug
include ../../module/menu/_menu.pug
include ../../module/create-own/_create-own.pug
include ../../module/two-text/_two-text.pug
